
footer#footer.page-wrap.footer
  .footer__container
    .footer__block
      h5.footer__headings= footer.locales.events_header
      .footer__eventLinks
        each event in footer.data.events
          a.footer__event(href="#{ event.link }", target="_blank")= event.name
    .footer__block
      h5.footer__headings= footer.locales.connection_header
      .footer__socials
        +socialIcons( footer.data.socials.networks )
      .footer__contacts
        span= footer.locales.contact_us
        a.footer__mailLink(href="mailto:#{ footer.data.socials.email }")= footer.data.socials.email
  hr
  .footer__copyright
    span= footer.locales.copyright
