//- TODO: use js api or manage to disable scrollwheel event on map
//- note: is not an issue for touch devices since ther is no scroll

//data is pushed to template only if isRendering==true in config.js
//next two lines are to prevent error because data is not defined for module
//if isRendering==false
if location && overview
  section#locations.page-wrap
    .loc-info
      .loc-info__text
        h2.module-header= location.title
        span= overview.address
        span= overview.location.split(',')[0]+', '+overview.region+', '+overview.location.split(' ')[1]
      .loc-info__icon
        +icon('location')(class="location__icon")
    div#googleMap.location
      iframe( width="100%" height="100%" frameborder="0" style="border:0" 
        src="https://www.google.com/maps/embed/v1/place?q=45%20Oleny%20Stepanivny%20Street%2C%20Lviv%2C%20Lviv%20Oblast%2C%20Ukraine&key=AIzaSyA4mtrLuErJROuZl5_kwcPxEVPWBt-bhWo&zoom=17")
script.
  var viewport = window.innerWidth;
  var info = document.getElementsByClassName('loc-info')[0];
  
  if (viewport > #{config.breakPoint}) {
    info.onclick = function toggleInfo() {
      info.classList.toggle('loc-info--min');
    }
  }
  //reset info block styles when #location is not in viewport scope
  var clientHeight = document.documentElement.clientHeight;
  var menuHeight = document.getElementById('menu').offsetHeight;
  document.onscroll = function() {
    var parent = document.getElementById('locations');
    var el = parent.firstChild;
    if (window.pageYOffset < parent.offsetTop - clientHeight || window.pageYOffset >= (parent.offsetTop + parent.offsetHeight) - menuHeight) {
      el.classList.remove('loc-info--min');
    }
  }
