//data is pushed to template only if isRendering==true in config.js
//next two lines are to prevent error because data is not defined for module
//if isRendering==false
if !registration
else
  section#registration.page-wrap
    h2.module-header= registration.title
    .registration
      form(onsubmit="submitForm(this, event)")
        .registration__field
          label(for="cm_name") name
          input.registration__input(id="cm_name" type="text")
          span.registration__tip.invisible= registration.Name_err
        .registration__field
          label(for="cm_email") email
          input.registration__input(id="cm_email" type="text")
          span.registration__tip.invisible= registration.Email_err
        .registration__field
          label(for="cm_tel") phone
          input.registration__input(id="cm_tel" type="text")
          span.registration__tip.invisible= registration.Phone_err
        .registration__field
          input.registration__submit(type="submit" value="#{registration.title}")



  script.
    function pushData(data) {
      files.push('users', data, function(id) {
        if (id) {
          alert('You succesfully registered!!!!');
        } else {
          alert('Unfortunately registration failed...');
        }
      });
    }
    
    function submitForm(form, e) {
      var inputs = form.getElementsByTagName('input');
      
      Array.prototype.forEach.call(inputs, function(input) {
        //TODO: check validation.
        //- var isValid = false;
        var errorSpan = input.nextSibling;
        if (input.validity.badInput) {
          errorSpan.classList.remove('invisible');
          input.classList.add('registration__input--invalid');
          
          //prevent form submition
          e.preventDefault();
          setTimeout(function makeInvisible() {
            errorSpan.classList.add('invisible');
            input.classList.remove('registration__input--invalid');
          }, 5000);
        }
      });
    }
