section#schedule.page-wrap
  h2.module-header= schedule.locales.title
  .schedule
    each conference in schedule.data
      .conference
        .conference__title
          h3= schedule.locales.conf_schedule+conference.name
          span.schedule__toggleButton
            +icon('arrowUp')
        ul
          each day in conference.days
            li.conference__tab--active=  moment(day.day_info).format('DD MMM')
        each day in conference.days
          .timetable
            each session in day.timetable
              .session
                .session__time
                  span= moment(session.time.start).format('HH:MM')
                  if session.time.end
                    span= moment(session.time.end).format('HH:MM')
                .session__arrangement
                  h4.session__name= session.article
                  .sessionInfoClass
                    if session.speaker
                      span.speaker__name
                        span.session__info= session.speaker.name
                        span.session__info= session.speaker.position
                    if session.about
                      span.session__button.session__button--inactive
                  .session__about= session.about
                  .session__calendButtons
                    span= schedule.locales.calend_links
                    br
                    a.session__calendLink.session__calendLink--gCal( href="#{TODO get link from utilities}" target="_blank" rel="nofollow") Google Calendar
                    a.session__calendLink.session__calendLink--iCal iCalendar
