mixin details(session)
  if session.speaker
    span.speaker__name--schedule
      span= session.speaker.name
      span= session.speaker.position
  //- if session.about
  //-   span.session__button.session__button--inactive

mixin sessionData(session)
  .session__time
    span= moment(session.time.start).format('HH:MM')
    if session.time.end
      span= moment(session.time.end).format('HH:MM')
  .session__arrangement
    if (session.type == 'report')
      .session__icons
        +icon("plus")(class="session__icon")
        +icon("minus")(class="session__icon invisible")
    else
      .session__icons
        +icon("coffe")
    h4.session__name= session.article
    if (session.type == 'report')
      .session__info.session__info--right
        +details(session)
    else
      .session__info
        +details(session)
    .session__about.invisible= session.about || 'sorry, no description...'
      .session__calendButtons
        span= schedule.locales.calend_links
        a.session__calendLink.session__calendLink--gCal( href="#{TODO get link from utilities}" target="_blank" rel="nofollow") Google Calendar
        a.session__calendLink.session__calendLink--iCal( href="#") iCalendar

mixin table(data)
  each session, indx in data
    if (session.type == 'entertainment')
      .session.session--entertainment
        +sessionData(session)
    else
      .session.session--report
        +sessionData(session)
//data is pushed to template only if isRendering==true in config.js
//next two lines are to prevent error because data
//is not defined for module if isRendering==false
if schedule
  section#schedule.page-wrap
    h2.module-header= schedule.title
    .schedule
      ul.conference__tabs
        each day, indx in schedule.days
          if (indx == 0)
            li.tabs__item.tabs__item--active=  moment(day.day_info).format('MMM DD')
          else
            li.tabs__item=  moment(day.day_info).format('MMM DD')
      each day, indx in schedule.days
        .timetable
          +table(day.timetable)
