mixin speaker(speaker)
  div.speaker
    div.speaker__photo
      img(src=speaker.photo_url)
    div.speaker__main
      h3.speaker__name= speaker.name
      div.speaker__pos= speaker.position
      div.speaker__about= speaker.about
        div.speaker__contacts
         +socialIcons(speaker.contact)(class="speaker__contact")

//data is pushed to template only if isRendering==true in config.js
//next two lines are to prevent error because data is not defined for module
//if isRendering==false
if speakers   
  section#speakers.page-wrap
    h2.module-header= speakers.title
    div.speakers
      each speaker in speakers.data
        +speaker(speaker)
    .speakers__expand-button See all speakers >>
script.
  //store collapsed .speakers height
  var collapsedSpeakersHeight;
  
  //set collapsed .speakers height
  window.onload = function() {
    var viewport = document.documentElement.clientWidth;
    var fourthSpeaker = document.getElementsByClassName('speaker')[3];
    var speakersWrap = fourthSpeaker.parentNode;
    var fourthSpeakerTop = fourthSpeaker.offsetTop;
    var fourthSpeakerBottom = fourthSpeakerTop + fourthSpeaker.offsetHeight;
  
    if (viewport <= #{config.breakPoint}) {
      speakersWrap.style.height = fourthSpeakerBottom - speakersWrap.offsetTop + 'px';
      collapsedSpeakersHeight = speakersWrap.style.height;
    }
  };
  
  (function() {
  
    var sreakersButton = document.querySelector('.speakers__expand-button');
  
    sreakersButton.onclick = function(e) {
      var speakersWrap = e.target.previousSibling;
      var speakers = sreakersButton.previousSibling;
      
      speakers.style.height = 'auto';
      speakersWrap.parentNode.removeChild(sreakersButton);
    };
  })();
